<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Gestion de restaurants</title>
</head>

<body>
<div id="app">
    <div id="entete">
        <h1>Gestion de restaurants</h1>

        <img src="seperateur.png" alt=""></img>
        <h1>Total des restaurants : {{nbRestaurants}}</h1>
        <br>
        <div >
            <form v-on:submit="ajouterRestaurant" v-if="addForm">
                <h2>Ajout Resataurant : </h2>
                <label>
                    Nom : <input type="text" name="nom" required v-model="nom">
                </label>
                <br><br>
                <label>
                    Cuisine : <input type="text" name="cuisine" required v-model="cuisine">
                </label>
                <br>
                <button class="button" type="submit">Ajouter</button>
                <button class="button" type="reset" v-on:click="cancelAjouter">Annuler</button>
            </form>

            <button class="button" v-else v-on:click="formAjouterRestaurant">Nouveau Restaurant </button>
        </div>
        <p>
            <label> Recherche :
                <input type="text" v-on:input="chercherRestaurants" v-model="name">
            </label>
            <br><br>
            <label> Taille de la Page :
                <input type="range" min="5" max="100" step="5" class="slider" id="myRange"
                       v-on:input="getRestaurantsFromServer()" v-model="pagesize"> : {{pagesize}}
            </label>
        </p>
    </div>

    <div class="miseEnFormeTable">
        <table class="labelTable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Cuisine </th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="r,index in restaurants" v-bind:style="{backgroundColor:getColor(index)}" v-bind:class="{bordureRouge:(index === 2)}">
                <td>{{r.name}}</td>
                <td>{{r.cuisine}}</td>
                <td class="options">
                    <a href="#modify">
                        <img src="https://cdn.icon-icons.com/icons2/931/PNG/512/edit_modify_icon-icons.com_72390.png"
                             width="30" v-on:click="formModifierRestaurant(r._id)"/>
                    </a>
                </td>
                <td class="options">
                    <img src="https://cdn.icon-icons.com/icons2/868/PNG/512/trash_bin_icon-icons.com_67981.png"
                         width="20" v-on:click="supprimerRestaurant(r._id)"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="navigation" >
        <button class="button" v-on:click="premierePage" v-bind:class="{active : page === 0}">Page 1</button>
        <button class="button" v-on:click="pagePrecedente" v-if="page > 1"><</button>
        <button class="button active" v-if="page !== 0 && page !== getDernierePage()">{{page+1}}</button>
        <button class="button" v-on:click="pageSuivante" v-if="page < getDernierePage() - 1">></button>
        <button class="button" v-on:click="dernierePage" v-bind:class="{active : page === getDernierePage()}">Page {{getDernierePage()+1}}</button>

    </div>
    <img src="seperateur.png" alt=""></img>

    <div id="modify" v-if="restaurantToModify !== null">
        <h2>Modifier un restaurant</h2>
        <form v-on:submit="modifierRestaurant">
            <label>
                Id: <input type="text" name="_id" v-bind:value="restaurantToModify._id" required disabled>
            </label>
            <label>
                Nom: <input type="text" name="nom" v-bind:value=restaurantToModify.name required >
            </label>
            <label>
                Cuisine: <input type="text" name="cuisine" v-bind:value="restaurantToModify.cuisine" required >
            </label>

            <button class="button" type="submit">Modifier</button>
            <button class="button" type="reset" v-on:click="cancelModifier">Annuler</button>
        </form>
    </div>
</div>
</body>
</html>