<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="lib/vue.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <link rel="stylesheet" href="css/styles.css">
    
    <title>Gestion de restaurants</title>
</head>

<body>

<div id="app">
    <div id="form1">
        <form v-on:submit="ajouterRestaurant">
            <label>
                Nom : <input type="text" name="nom" required v-model="nom">
            </label>
            <label>
                Cuisine : <input type="text" name="cuisine" required v-model="cuisine">
            </label>

            <button class ="button" style ="vertical-align: middle"><span>Ajouter</span></button>
        </form>

        <p>
            <label> Recherche :
                <input type="text" v-on:input="chercherRestaurants" v-model="name">
            </label>
        <br>
            <label> Taille de la Page :
                <input type="range" min="1" max="100" value="10" class="slider" id="myRange"
                       v-on:input="getRestaurantsFromServer()" v-model="pagesize">
            </label>
        </p>
        <h1>Nombre de restaurants : {{nbRestaurants}}</h1>
        <img src="seperateur.png" alt=""></img>
    </div>
    <template>
    <div class="miseEnFormeTable">
        <md-table v-model="restaurant" class="labelTable">
            <md-table-toolbar>
                <h1 class="md-title">Liste des restaurants</h1>
            </md-table-toolbar>
            <md-table-row>
                <md-table-head>Id</md-table-head>
                <md-table-headh>Nom</md-table-head>
                <md-table-head>Cuisine </md-table-head>
                <md-table-head>Modifier</md-table-head>
                <md-table-head>Supprimer</md-table-head>
            </md-table-row>
            <md-table-row v-for="r,index in restaurants" v-bind:style="{backgroundColor:getColor(index)}" v-bind:class="{bordureRouge:(index === 2)}">
                <md-table-cell>{{r._id}}</md-table-cell>
                <md-table-cell>{{r.name}}</md-table-cell>
                <md-table-cell>{{r.cuisine}}</md-table-cell>
                <md-table-cell>
                    <a href="#modify">
                    <img src="https://cdn.icon-icons.com/icons2/931/PNG/512/edit_modify_icon-icons.com_72390.png"
                                           width="30" v-on:click="formModifierRestaurant(r._id)"/>
                    </a>
                </md-table-cell>
                <md-table-cell>
                    <img src="https://cdn.icon-icons.com/icons2/868/PNG/512/trash_bin_icon-icons.com_67981.png"
                         width="20" v-on:click="supprimerRestaurant(r._id)"/>
                </md-table-cell>
            </md-table-row>
        </md-table>
    </div>
</template>
    <div class="Boutons" >
        <button class ="button" style ="vertical-align: middle" v-on:click="premierePage"><span>1</span></button>
        <button class ="buttonPrec" style ="vertical-align: middle" v-on:click="pagePrecedente"><span>Precedent</span></button>
        <button class ="button" style ="vertical-align: middle" v-on:click="pageSuivante"><span>Suivant</span></button>
        <button class ="button" style ="vertical-align: middle" v-on:click="dernierePage"><span>{{getDernierePage()+1}}</span></button>

    </div>
    <img src="seperateur.png" alt=""></img>

    <div class="modify" v-if="restaurantToModify !== null">
        <h2 id="#modify">Modifier un restaurant</h2>
        <form v-on:submit="modifierRestaurant">
            <label>
                Id: <input type="text" name="_id" v-bind:value="restaurantToModify._id" required disabled>
            </label>
            <label>
                Nom: <input type="text" name="nom" v-bind:value=restaurantToModify.name required >
            </label>
            <label>
                Cuisine: <input type="text" name="cuisine" v-bind:value="restaurantToModify.cuisine" required >
            </label>

            <button class ="button" style ="vertical-align: middle">Modifier</button>
        </form>
    </div>

</div>
</body>
</html>